h1, h2, h3, h4, h5, h6, p, .btn, .navbar-nav a, .form-control, .list-inline, small, #techSkills {
    font-family: 'Montserrat', sans-serif;
}

p, .lead {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 65px;
    line-height: 65px;
    letter-spacing: -1px;
    color: #ffffff;
    font-weight: 700;
}

h2 {
    font-size: 40px;
    line-height: 40px;
    etter-spacing: -0.5px;
    color: #ffffff;
    font-weight: 700;
}

h3 {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #231f20;
    font-weight: 700;
}

.lead {
    font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
}

p {
    font-size: 17px;
    line-height: 22px;
    color: #929496;
    font-weight: 400;
}

/*------------------Utilities---------------------*/
a {
    color: inherit;
    font-weight: bolder;
    font-size: inherit;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
    color: #A42327;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.fa-lg {
    font-size: 1.33333em;
    line-height: 0.75em;
    vertical-align: -10%;
}

::selection {
    background: #231f20; /* Safari */
    color: #FFFFFF;
}

::-moz-selection {
    background: #231f20; /* Firefox */
    color: #FFFFFF;
}

/*------------------Buttons---------------------*/
.btn:focus {
    outline: 0px auto -webkit-focus-ring-color;
    outline: none;
}

.btn {
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
}

.btn-lg {
    font-size: 13px;
    line-height: 1.33;
    padding: 22px 30px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-sm {
    font-size: 11px;
    line-height: 1.33;
    padding: 10px 18px;
    font-weight: 400;
}

.btn-wide {
    width: 100%;
    font-size: 13px;
    line-height: 1.33;
    padding: 18px 28px;
    font-weight: 400;
    letter-spacing: 1px;
}

.btn-primary {
    background-color: #111;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    background-color: #8be2e5;
    color: #ffffff;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

.btn-secondary {
    background-color: #ffffff;
    color: #231f20;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active {
    background-color: #ededed;
    color: #231f20;
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

/*-----------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}

.margin-10 {
    margin-bottom: 10px !important;
}

.margin-15 {
    margin-bottom: 15px !important;
}

.margin-20 {
    margin-bottom: 20px !important;
}

.margin-30 {
    margin-bottom: 30px !important;
}

.margin-40 {
    margin-bottom: 40px !important;
}

.margin-50 {
    margin-bottom: 50px !important;
}

.margin-60 {
    margin-bottom: 60px !important;
}

.margin-70 {
    margin-bottom: 70px !important;
}

.margin-80 {
    margin-bottom: 80px !important;
}

.margin-90 {
    margin-bottom: 90px !important;
}

.margin-100 {
    margin-bottom: 100px !important;
}

/*-----------------Colors------------------*/

.black {
    color: #231f20;
}

.blue {
    color: #70cbce;
}

.white {
    color: #ffffff;
}

.black-bg {
    background: #231f20;
}

.blue-bg {
    background: #70cbce;
}

.white-bg {
    background: #ffffff;
}

.purple-bg {
    background: #6d3f96;
}

/* ==========================================================================
   Nav Styles
   ========================================================================== */

.navbar {
    border: 0px solid rgba(0, 0, 0, 0);
    background: #111;
    margin: auto;
    min-height: 60px;
    padding-top: 8px;
    position: fixed;
    top: -60px;
    transition: top 0.4s ease 0s;
}

.navbar.open {
    top: 0;
}

.navbar-inverse .navbar-nav > li > a, .navbar-nav a {
    font-size: 16px;
    letter-spacing: 1px;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #A42327;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 10px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #A42327;
}

.navbar-inverse .navbar-toggle {
    border-color: transparent;
}

.logo1 {
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.logo2 {
    font-size: 37px;
    font-family: 'Montserrat', sans-serif;
    color: black;
}

/* ==========================================================================
   Main styles
   ========================================================================== */

.side1_image, .side2_image, .side3_image, .side4_image{
    display: none;
    margin: auto;
    height: 50vh;
    width: 90%;
 }
.screen_shot{
    display: inline-block;
    width: 42%;
    margin: 15px;
    border: 4px solid black;
    border-radius: 10px;
}
.side1_desc, .side2_desc, .side3_desc, .side4_desc {
    padding: 15px;
    padding-bottom: 50px;
    margin: auto;
    background-color: rgba(255,255,255,.6);
    border: 4px solid black;
    border-radius: 10px;
    width: 90%;
}
.side1_desc p, .side2_desc p, .side3_desc p, .side4_desc p{
    font-size: 20px;
}
#side_container{
    display: none;
}

header {
    background: url(../img/stars.png) #ffffff no-repeat center bottom fixed;
    -webkit-background: url(../img/stars.png) #ffffff no-repeat center bottom fixed;;
    -moz-background: url(../img/stars.png) #ffffff no-repeat center bottom fixed;;
    -ms-background: url(../img/stars.png) #ffffff no-repeat center bottom fixed;;
    -o-background: url(../img/stars.png) #ffffff no-repeat center bottom fixed;;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    overflow: hidden;
}

.header-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    margin-left: 0px;
    margin-bottom: 12%;
}

.signin {
    padding-top: 9px;
}

.mouse-icon {
    border: 2px solid #fff;
    border-radius: 16px;
    display: block;
    height: 50px;
    margin: -100px auto 50px;
    position: relative;
    width: 30px;
    z-index: 10;
}

.mouse-icon .scroll {
    animation-delay: 0s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: scrolling;
    animation-play-state: running;
    animation-timing-function: linear;
}

.mouse-icon .scroll {
    background: #fff none repeat scroll 0 0;
    border-radius: 10px;
    height: 10px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 4px;
    width: 4px;
}

@keyframes scrolling {
    0% {
        opacity: 0;
        top: 5px;
    }
    30% {
        opacity: 1;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 25px;
    }
}

.pad-xl {
    padding: 200px 0px;
}

.pad-lg {
    padding: 160px 0px;
}

.pad-sm {
    padding: 100px 0px;
}

.pad-xs {
    padding: 30px 0px;
}

#apps {
    background: url(../img/galaxy3.jpg) no-repeat center bottom fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 110vh;
    height: 1080px;;
    overflow: hidden;
}

hr.line {
    width: 100%;
    border: 2px solid;
}

.purple {
    border-color: #6d3f96;
    color: #6d3f96;
}

.blue {
    border-color: #70cbce;
    color: #70cbce
}

.yellow {
    border-color: #fdc05d;
    color: #fdc05d;
}

.cube {
    position: relative;
    height: 300px;
    margin-top: 60px;
}

.fa-envelope-o {
    color: #fff;
    font-size: 22px;
    display: block;
    padding-top: 15px;
    width: 60px;
    height: 60px;
    border: 2px solid #fff;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    margin: auto;
}

.news-container {
    padding: 10px 0px 20px;
    border-bottom: 1px dotted #d9d9d9;
}

.news-img {
    padding-right: 20px;
}

footer {
    background: #111;
    padding: 40px 0px;
    color: white;
}

.social li a:hover {
    color: #A42327;
}

#techSkills {
    background: url(../img/stars3.png) no-repeat right bottom;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    height: 980px;
    overflow: hidden;
    padding-top: 120px;
}

#connect {
    background: url(../img/stars2.png) no-repeat right center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 88vh;
    height: 800px;
    overflow: hidden;
    padding-top: 160px;
}

.techSkills_container {
    padding-left: 0px;
    padding-right: 0px;
}

.headline {
    background: #231f20;
    color: #FFFFFF;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* ==========================================================================
   Form styles
   ========================================================================== */
.form-control {
    background-color: rgba(255, 255, 255, .7);
    background-image: none;
    border: 2px solid transparent;
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.075) inset;
    color: #111;
    display: block;
    font-size: 15px;
    height: 40px;
    line-height: 1.42857;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-control::-moz-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-webkit-placeholder, .form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

.form-control::-o-placeholder {
    color: #d9d9d9;
    font-size: 15px;
    opacity: 1;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
/* Landscape phones and down */
@media (max-width: 480px) {

    .btn-lg {
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }

    .btn-wide {
        width: 100%;
        font-size: 12.5px;
        line-height: 1.33;
        padding: 16px 13px;
        letter-spacing: 0px;
    }

}

/* cube stuff---------------------------------------- */
.container2 {
    width: 220px;
    height: 220px;
    perspective: 730px;
    display: block;
    margin: auto;
}

.front {
    background-color: black;
    color: deepskyblue;
    border: 5px solid black;
}

.back {
    background-color: #A42327;
    border: 5px solid black;
    color: white;
}

.left {
    background-color: green;
    border: 5px solid black;
    color: white;
}

.top {
    background-color: #A42327;
    border: 5px solid black;

}

.bottom {
    background-color: rebeccapurple;
    border: 5px solid black;

}

.right {
    background-color: grey;
    border: 5px solid black;
    color: white;
    letter-spacing: -2px;
}

#cube {
    margin-top: 20px;
    width: 220px;
    height: 220px;
    position: absolute;
    transform-style: preserve-3d;
}

.front:hover,.right:hover,.left:hover,.back:hover{
    cursor: pointer;
}

#cube figure {
    margin: 0;
    width: 220px;
    height: 220px;
    display: block;
    position: absolute;
    font-size: 30px;
    line-height: 40px;
}
#cube .front {
    transform: rotateY(0deg) translateZ(110px);
}

#cube .back {
    transform: rotateY(180deg) translateZ(110px);
}

#cube .right {
    transform: rotateY(90deg) translateZ(110px);
}

#cube .left {
    transform: rotateY(-90deg) translateZ(110px);
}

#cube .top {
    transform: rotateX(90deg) translateZ(110px);
}

#cube .bottom {
    transform: rotateX(-90deg) translateZ(110px);
}
#cube {
    transition: transform 1s;
}

#cube.show-front {
    transform: rotateY(17deg);
}

#cube.show-back {
    transform: rotateY(-163deg);
}

#cube.show-right {
    transform: rotateY(-73deg);
}

#cube.show-left {
    transform: rotateY(-253deg);
}

#cube.show-top {
    transform: rotateX(-90deg);
}

#cube.show-bottom {
    transform: rotateX(90deg);
}

.cube_video {
    width: 140%;
    margin-top: -23px;
    margin-left:-30px;
}

.video_container {
    width: 100%;
    height: 220px;
    overflow: hidden;
}

.cube_border {
    text-align: center;
    overflow: hidden;
}

.cube_font {
    z-index: 10;
}

.info {
    background-color: rgba(255, 255, 255, .6);
    margin: 20px;
    padding: 20px;
    padding-top: 0;
    max-height: 300px;
    border-radius: 20px;
    border: 4px solid black;
    transition-duration: .35s;
}

.info:hover {
    box-shadow: 0 0 50px white;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .info{
        display: none;
    }
    .click_cube{
        display: inherit;
    }
}

.black_back {
    background-color: rgba(0, 0, 0, .2);
    padding-top: 15vh;
    padding-bottom: 10vh;
    height: 100%;
}

.wrap {
    max-width: 600px;
    margin: 150px auto;
}

.rotate {
    animation-name: rotate_cube;
    animation-duration: 1000s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.mepic {
    height: 75vh;
}

.frontpage_text {
    position: relative;
    left: 55%;
    bottom: 40%;
    width: 300px;
}

.skills {
    margin: auto;
    display: block;
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    border-style: solid;
    border-radius: 20px;
    border-width: 10px;
    transition-duration: .35s;
    opacity: .4;
    position: relative;
    font-size: 0;
    height: 200px;
}

.skills:hover {
    box-shadow: 0 0 50px white;
    opacity: 1;
    font-size: 25px;
    font-weight: bold;
}

.skills_assist {
    width: 100%;
    height: 100%;
    max-height: 200px;
    margin: auto;
}

.skills > img {
    display: block;
    margin: auto;
    max-width: 200px;
    width: 100%;
    max-height: 200px;
    height: 100%;
    z-index: 2;
}

.column {
    vertical-align: top;
    display: inline-block;
    height: 70%;
    width: 33%;
}

.technical_header {
    font-size: 65px;
    line-height: 65px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: -3vh;
}

.technical_header2 {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: -6vh;
}

.front_header, .front_header2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 65px;
    line-height: 65px;
    letter-spacing: -1px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    display: inline-block;
    bottom: 18vh;
    color: #A42327;

}

.front_header2 {
    font-size: 35px;
    line-height: 35px;
    bottom: 12vh;
    right: 17vw;

}

/* code for animated blinking cursor */
.typed-cursor {
    font-size: 25px;
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
    position: relative;
    left: 10%;
}

.typed_string {
    font-size: 25px;
    position: relative;
    left: 10%;
    font-weight: bold;
    z-index: 5;
}



@media screen and (max-height: 770px) {
    .front_header {
        font-size: 35px;
        line-height: 35px;
        bottom: 20vh;
        right: 20vw;
    }

    .front_header2 {
        font-size: 25px;
        line-height: 25px;
        bottom: 15vh;
        right: 15vw;

    }

    .typed-cursor {
        font-size: 20px;
        left: 5%;
    }

    .typed_string {
        font-size: 20px;
        left: 5%;
    }
}


@media screen and (max-width: 1475px) {
    .front_header {
        font-size: 45px;
        line-height: 45px;
        bottom: 25vh;
        right: 20vw;
    }

    .front_header2 {
        font-size: 30px;
        line-height: 30px;
        bottom: 20vh;
        right: 15vw;

    }
}

@media screen and (max-width: 1145px) {
    .space{
        display: none;
    }
    .text-right{
        text-align: center;
    }
    a.scroll.header_bar{
        font-size: 13px;
        padding-top: 20px;
        text-align: left;
    }
    .front_header {
        font-size: 35px;
        line-height: 35px;
        bottom: 25vh;
        right: 10vw;
    }

    .front_header2 {
        font-size: 20px;
        line-height: 20px;
        bottom: 20vh;
        right: 8vw;
    }

    .typed-cursor {
        font-size: 20px;
        left: 5%;
    }

    .typed_string {
        font-size: 20px;
        left: 5%;
    }

}

@media screen and (max-width: 975px) {
    .skills {
        border-width: 5px;
        border-radius: 10px;
        margin-top: 0px;
    }

    .skills:hover {
        font-size: 15px;
    }

    .column {
        width: 31%;
    }

    .technical_header {
        font-size: 55px;
        line-height: 55px;
    }
}


@media screen and (max-width: 750px) {
    .logo2,.logo1{
        font-size: 30px;
    }
    a.scroll.header_bar{
        padding-top: 10px;
    }
    .signin{
        padding-top:0px;
    }
    a.scroll{
        text-align: right;
    }
    .front_header {
        font-size: 35px;
        line-height: 35px;
        bottom: 35vh;
        right: 10vw;
    }

    .front_header2 {
        font-size: 20px;
        line-height: 20px;
        bottom: 30vh;
        right: 5vw;
    }

    .typed-cursor {
        font-size: 13px;
    }

    .typed_string {
        font-size: 13px;
    }

    .skills {
        height: 150px;
        border-width: 5px;
        border-radius: 10px;
        margin-top: 0px;
    }

    .skills:hover {
        font-size: 15px;
    }

    #techSkills {
        min-height: 100vh;
    }

    .technical_header {
        font-size: 45px;
        line-height: 45px;
    }
    #apps {
        background: url(../img/galaxy3.jpg)no-repeat center bottom;
        background-size: cover;
    }
    header {
        background: url(../img/stars.png) #ffffff no-repeat center bottom;
        background-size: cover;
    }
}

@media screen and (max-width: 510px) {

    .skills {
        height: 125px;
        border-radius: 5px;
        margin-top: 0px;
    }

    .skills:hover {
        font-size: 10px;
    }

    #techSkills {
        height: 100vh;
    }

    .technical_header {
        font-size: 35px;
        line-height: 35px;
    }
    .typed-cursor {
        font-size: 10px;
    }

    .typed_string {
        font-size: 10px;
    }

}
@media screen and (max-width: 615px) {
    a.scroll.header_bar{
        font-size: 9px;
    }
    .click_cube{
        margin-top: 20px;
    }

}

@media screen and (max-width: 475px) {
    a.scroll.header_bar{
        padding-top: none;
    }
}

@media screen and (max-width: 380px) {

    .skills {
        height: 80px;
        border-radius: 5px;
        margin-top: 0px;
    }

    .skills:hover {
        font-size: 10px;
    }

    #techSkills {
        height: 100vh;
    }

    .technical_header, .front_header, .front_header2 {
        font-size: 20px;
        line-height: 20px;
    }

    .front_header {
        font-size: 25px;
        line-height: 25px;
        bottom: 33vh;
        right: 10vw;
    }

    .front_header2 {
        font-size: 16px;
        line-height: 16px;
        bottom: 28vh;
        right: 5vw;
    }
    #connect {
        min-height: 50vh;
        padding-top: 30px;
    }
    #apps {
        height: 100vh;
    }
    header{
        height: 100vh;
    }
}

@media screen and (max-width: 675px) and (max-height: 380px) {
    .front_header {
        font-size: 20px;
        line-height: 20px;
        bottom: 15vh;
        right: 20vw;
    }

    .front_header2 {
        font-size: 13px;
        line-height: 13px;
        bottom: 12vh;
        right: 15vw;
    }

}

.row_conatiner {
    margin: auto;
    max-width: 80%;
    max-height: 50%;
}

#mapholder {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -10;
}
.click_cube{
    color: white;
    font-size: 20px;
}
#map {
    height: 100%;
    width: 100%;
    position: absolute;
}

.map_cover {
    background-color: white;
    z-index: 0;
}

.contact {
    color: white;
    font-weight: 700;
    margin-top: 10px;
}

#contact_form {
    padding: 20px;
    border-radius: 20px;
    border: black 4px solid;
    background: url(../img/me_cartoon2.png) rgba(0, 0, 0, .7) no-repeat bottom left;
    min-height: 300px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.send_btn {
    background-color: #111;
    color: white;
    transition-duration: .65s;
}

.close_btn {
    background-color: #A42327;
    color: white;
}

.send_btn:hover {
    background-color: #A42327;
    color: white;
}

.header_bar {
    color: #111;
}

.header_bar:hover {
    color: #A42327;
}

.tech_text {
    margin-top: 5px;
    text-align: center;
}

*::-webkit-media-controls-panel {
    display: none!important;
    -webkit-appearance: none;
}

/* Old shadow dom for play button */

*::--webkit-media-controls-play-button {
    display: none!important;
    -webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works */

*::-webkit-media-controls-start-playback-button {
    display: none!important;
    -webkit-appearance: none;
}

.fast_rotate {
    animation-name: rotate_cube;
    animation-duration: 60s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-keyframes blink {
0% {
    opacity: 1;
}
50% {
    opacity: 0;
}
100% {
    opacity: 1;
}
}
@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes rotate_cube {
    100% {
        transform: rotateY(-34300deg);
    }
}
